In [1]:
import pandas as pd

In [2]:
S = pd.Series({"a": 1, "b": 2, "c":3, "d":4})
S

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
S.loc['a']

1

In [22]:
S.iloc[0]

1

In [3]:
S = pd.Series({"a": 1, "b": 2, "c":3, "d":4})
S

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
S = pd.Series([1, 2, 3, 4], index=['a','b','c','d'])
S

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
df = pd.DataFrame({
    "col1": [1,2,3,4], 
    "col2": [5,6,7,8]},
    index=['a','b','c','d'])
df

   col1  col2
a     1     5
b     2     6
c     3     7
d     4     8

In [23]:
df.loc['a','col2']

5

In [25]:
df.loc['a':'c', 'col1']

a    1
b    2
c    3
Name: col1, dtype: int64

In [28]:
df.iloc[0:3,0]

a    1
b    2
c    3
Name: col1, dtype: int64

In [15]:
df.values

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [16]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [30]:
import numpy as np 
df = pd.DataFrame(np.random.random(size=(500,5)), 
                  columns=['X1', 'X2', 'X3', 'X4', 'X5'])
df

           X1        X2        X3        X4        X5
0    0.110064  0.404215  0.374785  0.424288  0.209067
1    0.433479  0.957813  0.322659  0.985949  0.436432
2    0.581997  0.826707  0.063598  0.296594  0.673235
3    0.122254  0.093717  0.466668  0.446205  0.278084
4    0.686728  0.316992  0.530365  0.702938  0.109101
..        ...       ...       ...       ...       ...
495  0.487759  0.678142  0.840789  0.800498  0.614733
496  0.938318  0.022769  0.187688  0.248526  0.358733
497  0.663149  0.577936  0.339022  0.949340  0.318881
498  0.906462  0.915549  0.302057  0.345160  0.115473
499  0.701459  0.188725  0.420258  0.581770  0.898845

[500 rows x 5 columns]

In [31]:
df.head(10)

         X1        X2        X3        X4        X5
0  0.110064  0.404215  0.374785  0.424288  0.209067
1  0.433479  0.957813  0.322659  0.985949  0.436432
2  0.581997  0.826707  0.063598  0.296594  0.673235
3  0.122254  0.093717  0.466668  0.446205  0.278084
4  0.686728  0.316992  0.530365  0.702938  0.109101
5  0.626619  0.148077  0.786939  0.351796  0.408232
6  0.426554  0.192517  0.914925  0.175842  0.200465
7  0.087399  0.505063  0.113435  0.211598  0.783049
8  0.517367  0.750868  0.645698  0.737275  0.282429
9  0.072904  0.174597  0.752324  0.935540  0.129500

In [32]:
df.tail(10)

           X1        X2        X3        X4        X5
490  0.588552  0.191083  0.143742  0.462606  0.675590
491  0.161554  0.445291  0.694608  0.192777  0.560066
492  0.215422  0.237290  0.235483  0.277170  0.822906
493  0.130508  0.376333  0.853825  0.282212  0.193934
494  0.992430  0.670954  0.437416  0.088286  0.245712
495  0.487759  0.678142  0.840789  0.800498  0.614733
496  0.938318  0.022769  0.187688  0.248526  0.358733
497  0.663149  0.577936  0.339022  0.949340  0.318881
498  0.906462  0.915549  0.302057  0.345160  0.115473
499  0.701459  0.188725  0.420258  0.581770  0.898845

In [33]:
df.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5'], dtype='object')

In [34]:
df.dtypes

X1    float64
X2    float64
X3    float64
X4    float64
X5    float64
dtype: object

In [35]:
df.iloc[3:20, 2:4] = "Changed 2"

/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_18172/627906680.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Changed 2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[3:20, 2:4] = "Changed 2"
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_18172/627906680.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Changed 2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[3:20, 2:4] = "Changed 2"

In [36]:
df.head(30)

          X1        X2         X3         X4        X5
0   0.110064  0.404215   0.374785   0.424288  0.209067
1   0.433479  0.957813   0.322659   0.985949  0.436432
2   0.581997  0.826707   0.063598   0.296594  0.673235
3   0.122254  0.093717  Changed 2  Changed 2  0.278084
4   0.686728  0.316992  Changed 2  Changed 2  0.109101
5   0.626619  0.148077  Changed 2  Changed 2  0.408232
6   0.426554  0.192517  Changed 2  Changed 2  0.200465
7   0.087399  0.505063  Changed 2  Changed 2  0.783049
8   0.517367  0.750868  Changed 2  Changed 2  0.282429
9   0.072904  0.174597  Changed 2  Changed 2  0.129500
10  0.630310  0.418075  Changed 2  Changed 2  0.331787
11  0.605377  0.098461  Changed 2  Changed 2  0.196681
12  0.079746  0.036299  Changed 2  Changed 2  0.815879
13  0.469692  0.893374  Changed 2  Changed 2  0.354978
14  0.807261  0.509159  Changed 2  Changed 2  0.330892
15  0.997715  0.955017  Changed 2  Changed 2  0.357044
16  0.498824  0.083575  Changed 2  Changed 2  0.355608
17  0.457955  0.182717  Changed 2  Changed 2  0.805798
18  0.253684  0.427875  Changed 2  Changed 2  0.324852
19  0.050046  0.209369  Changed 2  Changed 2  0.248273
20  0.513768  0.495838   0.892078   0.904663  0.510435
21  0.276010  0.352447   0.998269   0.691292  0.001812
22  0.138560  0.160478   0.344848   0.387656  0.899790
23  0.275778  0.312871   0.291487   0.685712  0.135096
24  0.222132  0.537353   0.886933     0.6384  0.844393
25  0.145070  0.828022   0.455372   0.530682  0.381916
26  0.474382  0.984961   0.658498   0.732322  0.614482
27  0.450863  0.582018   0.121067   0.687016  0.140686
28  0.620870  0.862362   0.289569   0.552658  0.865621
29  0.387427  0.517738   0.657112     0.8741  0.457195

In [37]:
import os

In [38]:
os.getcwd()

'/Users/kimjongphil/Desktop/python_ex'