In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv("../data/소상공인시장진흥공단_상가(상권)정보_경기_202012.csv", sep="|", encoding='utf8')

In [3]:
temp

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20555125,아싸,NaN,Q,음식,Q03,일식/수산물,Q03A19,홍어전문,I56111,...,4146125027101910022035121,NaN,경기도 용인시 처인구 포곡읍 전대로78번길 13-1,449815.0,17023.0,NaN,1,NaN,127.216943,37.286224
1,17175325,뱅이술술,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4117310200116020006007279,무지개상가,경기도 안양시 동안구 관평로182번길 23,431815.0,14066.0,NaN,NaN,NaN,126.961584,37.393748
2,17175337,마운틴한식뷔폐,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4117110100108370001006476,NaN,경기도 안양시 만안구 안양로 405,430840.0,13988.0,NaN,NaN,NaN,126.914394,37.406669
3,20713599,눈높이러닝센타,NaN,R,학문/교육,R13,학문교육기타,R13A01,학습지보급,P85503,...,4121010100101490006003352,NaN,경기도 광명시 오리로 946,423010.0,14221.0,NaN,NaN,2,126.858147,37.478530
4,20642964,유니베라,구성대리점,D,소매,D16,화장품소매,D16A01,화장품판매점,G47813,...,4146311200103740000023783,NaN,경기도 용인시 기흥구 구성로64번길 1,446525.0,16919.0,NaN,2,NaN,127.116575,37.294690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556888,17223578,스튜디오온마이웨이,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,4146510100100590002232574,수지파크푸르지오,경기도 용인시 수지구 풍덕천로171번길 9,448171.0,16832.0,102,NaN,204,127.098484,37.326750
556889,17223588,스튜디오앞북,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,4146510500108730000028401,신봉마을엘지자이1차아파트,경기도 용인시 수지구 신봉2로 26,448533.0,16817.0,101,NaN,1705,127.077487,37.324813
556890,17223705,진덴트칼라외형복원,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,4146510200111110000028755,창죽마을벽산첼시빌아파트,경기도 용인시 수지구 용구대로2771번길 88,448546.0,16865.0,상가,NaN,102,127.105319,37.337488
556891,17223572,스튜디오르민,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,4146510700100960001026675,풍산아파트,경기도 용인시 수지구 수지로78번길 18,448750.0,16860.0,101,13,05,127.078988,37.309984
556892,17223715,판다스튜디오,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,4146510600107710000000001,버들치마을성복힐스테이트1차,경기도 용인시 수지구 성복1로 91,448140.0,16856.0,110,NaN,403,127.069196,37.313619

In [4]:
from glob import glob 

file_names = glob("../data/*.csv")
print("file_names:", file_names)

file_names: ['../data/소상공인시장진흥공단_상가(상권)정보_부산_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_대구_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_제주_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_세종_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_대전_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_서울_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_경기_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_울산_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_충북_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_충남_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_광주_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_강원_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_전북_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_경북_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_경남_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_전남_202012.csv', '../data/소상공인시장진흥공단_상가(상권)정보_인천_202012.csv']

In [6]:
for file_name in file_names:
    temp = pd.read_csv(file_name, sep="|", encoding='utf8') 
    total = pd.concat([total, temp])

total

/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')
/var/folders/h8/dk4pn1l11_5f5z7pscs8gr0r0000gn/T/ipykernel_5641/1655648841.py:2: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_name, sep="|", encoding='utf8')

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17175332,정성밥상,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2635010500105520002023290,NaN,부산광역시 해운대구 해운대로 635-7,612819.0,48087.0,NaN,NaN,NaN,129.159641,35.164474
1,23206623,미광장,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,I55112,...,2611012600100250001004473,NaN,부산광역시 중구 보수대로44번길 5,600074.0,48974.0,NaN,NaN,NaN,129.023668,35.100979
2,20418637,BHC치킨,동래점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2626010500101850000016529,NaN,부산광역시 동래구 동래로147번길 18,607020.0,47802.0,NaN,NaN,NaN,129.087156,35.205267
3,24659633,스텔라,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2650010500101480004001694,비치아파트,부산광역시 수영구 광안해변로 100,613751.0,48305.0,NaN,NaN,20,129.115397,35.143770
4,17174094,도란도란,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2623011100101740004050547,NaN,부산광역시 부산진구 가야대로482번길 29-3,614813.0,47327.0,NaN,NaN,NaN,129.024938,35.151645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118453,17214333,아이지에이,논현점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,2820011000107390001000001,NaN,인천광역시 남동구 앵고개로815번길 19,405300.0,21679.0,NaN,NaN,101,126.723415,37.395174
118454,17214671,땡이네애견용품,NaN,D,소매,D09,애견/애완/동물,D09A02,애완동물 미용실,S96995,...,2820010100111350001005296,청진네오스빌,인천광역시 남동구 예술로 230,405223.0,21557.0,NaN,NaN,531,126.702129,37.454645
118455,17221174,인생건어물,NaN,D,소매,D01,음/식료품소매,D01A11,건어물상,G47213,...,2817710100103310012000001,더스테이프라임월드,인천광역시 미추홀구 인주대로 51,402012.0,22173.0,NaN,NaN,109,126.643929,37.459209
118456,17221206,착한건어물,NaN,D,소매,D01,음/식료품소매,D01A11,건어물상,G47213,...,2818510500109370008149886,NaN,인천광역시 연수구 먼우금로 94,406802.0,21972.0,NaN,NaN,102,126.670416,37.407286
118457,17207622,더어려지다,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,2818510600100190001000001,커낼워크D2SUMMER,인천광역시 연수구 아트센터대로 131,406082.0,22003.0,202,NaN,D2,126.637119,37.399113

In [7]:
total.reset_index(inplace=True)
total

,index,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,0,17175332,정성밥상,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,...,2635010500105520002023290,NaN,부산광역시 해운대구 해운대로 635-7,612819.0,48087.0,NaN,NaN,NaN,129.159641,35.164474
1,1,23206623,미광장,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,...,2611012600100250001004473,NaN,부산광역시 중구 보수대로44번길 5,600074.0,48974.0,NaN,NaN,NaN,129.023668,35.100979
2,2,20418637,BHC치킨,동래점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,...,2626010500101850000016529,NaN,부산광역시 동래구 동래로147번길 18,607020.0,47802.0,NaN,NaN,NaN,129.087156,35.205267
3,3,24659633,스텔라,NaN,D,소매,D05,의복의류,D05A01,일반의류,...,2650010500101480004001694,비치아파트,부산광역시 수영구 광안해변로 100,613751.0,48305.0,NaN,NaN,20,129.115397,35.143770
4,4,17174094,도란도란,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,...,2623011100101740004050547,NaN,부산광역시 부산진구 가야대로482번길 29-3,614813.0,47327.0,NaN,NaN,NaN,129.024938,35.151645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2416247,118453,17214333,아이지에이,논현점,D,소매,D03,종합소매점,D03A01,편의점,...,2820011000107390001000001,NaN,인천광역시 남동구 앵고개로815번길 19,405300.0,21679.0,NaN,NaN,101,126.723415,37.395174
2416248,118454,17214671,땡이네애견용품,NaN,D,소매,D09,애견/애완/동물,D09A02,애완동물 미용실,...,2820010100111350001005296,청진네오스빌,인천광역시 남동구 예술로 230,405223.0,21557.0,NaN,NaN,531,126.702129,37.454645
2416249,118455,17221174,인생건어물,NaN,D,소매,D01,음/식료품소매,D01A11,건어물상,...,2817710100103310012000001,더스테이프라임월드,인천광역시 미추홀구 인주대로 51,402012.0,22173.0,NaN,NaN,109,126.643929,37.459209
2416250,118456,17221206,착한건어물,NaN,D,소매,D01,음/식료품소매,D01A11,건어물상,...,2818510500109370008149886,NaN,인천광역시 연수구 먼우금로 94,406802.0,21972.0,NaN,NaN,102,126.670416,37.407286
2416251,118457,17207622,더어려지다,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,...,2818510600100190001000001,커낼워크D2SUMMER,인천광역시 연수구 아트센터대로 131,406082.0,22003.0,202,NaN,D2,126.637119,37.399113

In [8]:
data = total [['상호명', '지점명', '상권업종대분류명','상권업종중분류명','시도명','시군구명','행정동명']]

In [9]:
data

             상호명  지점명 상권업종대분류명   상권업종중분류명    시도명  시군구명   행정동명
0           정성밥상  NaN       음식         한식  부산광역시  해운대구    우1동
1            미광장  NaN       숙박  모텔/여관/여인숙  부산광역시    중구    부평동
2          BHC치킨  동래점       음식     닭/오리요리  부산광역시   동래구    복산동
3            스텔라  NaN       소매       의복의류  부산광역시   수영구   남천2동
4           도란도란  NaN       음식         한식  부산광역시  부산진구   개금1동
...          ...  ...      ...        ...    ...   ...    ...
2416247    아이지에이  논현점       소매      종합소매점  인천광역시   남동구  논현고잔동
2416248  땡이네애견용품  NaN       소매   애견/애완/동물  인천광역시   남동구   구월3동
2416249    인생건어물  NaN       소매    음/식료품소매  인천광역시  미추홀구   숭의2동
2416250    착한건어물  NaN       소매    음/식료품소매  인천광역시   연수구   동춘2동
2416251    더어려지다  NaN    생활서비스    이/미용/건강  인천광역시   연수구   송도2동

[2416252 rows x 7 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416252 entries, 0 to 2416251
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   지점명       object
 2   상권업종대분류명  object
 3   상권업종중분류명  object
 4   시도명       object
 5   시군구명      object
 6   행정동명      object
dtypes: object(7)
memory usage: 129.0+ MB

In [11]:
data.describe()

            상호명     지점명 상권업종대분류명 상권업종중분류명      시도명     시군구명     행정동명
count   2416249  348492  2416252  2416252  2416252  2416252  2405583
unique  1338390  118194        8       95       17      234     3222
top          CU      본점       음식       한식      경기도       서구      중앙동
freq      11598    2434   904621   341312   556893    71725    43948

In [12]:
del total

In [29]:
set(data["상권업종대분류명"])

{'관광/여가/오락', '부동산', '생활서비스', '소매', '숙박', '스포츠', '음식', '학문/교육'}

In [34]:
set(data["상권업종중분류명"])

{'PC/오락/당구/볼링등',
 '가구소매',
 '가방/신발/액세서리',
 '가전제품소매',
 '가정/주방/인테리어',
 '개인/가정용품수리',
 '개인서비스',
 '건강/미용식품',
 '경마/경륜/성인오락',
 '광고/인쇄',
 '기타교육기관',
 '기타서비스업',
 '기타음식업',
 '기타판매업',
 '놀이/여가/취미',
 '닭/오리요리',
 '대중목욕탕/휴게',
 '대행업',
 '도서관/독서실',
 '모텔/여관/여인숙',
 '무도/유흥/가무',
 '물품기기대여',
 '민박/하숙',
 '법무세무회계',
 '별식/퓨전요리',
 '부동산관련서비스',
 '부동산임대',
 '부동산중개',
 '부페',
 '분식',
 '분양',
 '사무/문구/컴퓨터',
 '사진',
 '사진/광학/정밀기기소매',
 '선물/팬시/기념품',
 '세탁/가사서비스',
 '스포츠/운동',
 '시계/귀금속소매',
 '실내운동시설',
 '실외운동시설',
 '애견/애완/동물',
 '양식',
 '연구소',
 '연극/영화/극장',
 '예술품/골동품/수석/분재',
 '예식/의례/관혼상제',
 '요가/단전/마사지',
 '운동/경기용품소매',
 '운송/배달/택배',
 '운영관리시설',
 '유스호스텔',
 '유아교육',
 '유아용품',
 '유흥주점',
 '음/식료품소매',
 '음식배달서비스',
 '의복의류',
 '의약/의료품소매',
 '이/미용/건강',
 '인력/고용/용역알선',
 '일식/수산물',
 '자동차/이륜차',
 '자동차/자동차용품',
 '장례/묘지',
 '전시/관람',
 '제과제빵떡케익',
 '종교용품판매',
 '종합소매점',
 '주유소/충전소',
 '주택수리',
 '중고품소매/교환',
 '중식',
 '책/서적/도서',
 '철물/난방/건설자재소매',
 '취미/오락관련소매',
 '캠프/별장/펜션',
 '커피점/카페',
 '특수교육기관',
 '패스트푸드',
 '페인트/유리제품소매',
 '평가/개발/관리',
 '학교',
 '학문교육기타',
 '학원-보습교습입시',
 '학원-어학',
 '학원-예능취미체육',
 '학원-음악미술무용',
 '학원-자격/국가고시',
 '학원-창업취업취미',
 '학원-컴퓨터',
 '학원기타',
 '한식',
 '행사/이벤트',
 '호텔/콘도',
 '화장품소매'}

In [36]:
df_coffee = data[data["상권업종중분류명"] == "커피점/카페"]
df_coffee.index = range(len(df_coffee))

In [37]:
df_coffee

               상호명  지점명 상권업종대분류명 상권업종중분류명    시도명 시군구명  행정동명
0           투썸플레이스  대연점       음식   커피점/카페  부산광역시   남구  대연3동
1              더리터  수영점       음식   커피점/카페  부산광역시  수영구  남천1동
2             비움카페  NaN       음식   커피점/카페  부산광역시  기장군   기장읍
3              아망떼  NaN       음식   커피점/카페  부산광역시   북구  덕천2동
4             비니버니  NaN       음식   커피점/카페  부산광역시  금정구   서2동
...            ...  ...      ...      ...    ...  ...   ...
113700      카페데코믹스  부평점       음식   커피점/카페  인천광역시  부평구  부평5동
113701         리벌티  NaN       음식   커피점/카페  인천광역시  부평구  부평5동
113702       다이닝콩이  NaN       음식   커피점/카페  인천광역시  부평구  부평5동
113703     아로밀스튜디오  NaN       음식   커피점/카페  인천광역시  부평구  산곡4동
113704  1997케이크앤커피  NaN       음식   커피점/카페  인천광역시  계양구  계산4동

[113705 rows x 7 columns]

In [35]:
data

             상호명  지점명 상권업종대분류명   상권업종중분류명    시도명  시군구명   행정동명
0           정성밥상  NaN       음식         한식  부산광역시  해운대구    우1동
1            미광장  NaN       숙박  모텔/여관/여인숙  부산광역시    중구    부평동
2          BHC치킨  동래점       음식     닭/오리요리  부산광역시   동래구    복산동
3            스텔라  NaN       소매       의복의류  부산광역시   수영구   남천2동
4           도란도란  NaN       음식         한식  부산광역시  부산진구   개금1동
...          ...  ...      ...        ...    ...   ...    ...
2416247    아이지에이  논현점       소매      종합소매점  인천광역시   남동구  논현고잔동
2416248  땡이네애견용품  NaN       소매   애견/애완/동물  인천광역시   남동구   구월3동
2416249    인생건어물  NaN       소매    음/식료품소매  인천광역시  미추홀구   숭의2동
2416250    착한건어물  NaN       소매    음/식료품소매  인천광역시   연수구   동춘2동
2416251    더어려지다  NaN    생활서비스    이/미용/건강  인천광역시   연수구   송도2동

[2416252 rows x 7 columns]

In [38]:
df_seoul_coffee = data[ (data["상권업종중분류명"] == "커피점/카페") & (data["시도명"] == "서울특별시")]
df_seoul_coffee.index = range(len(df_seoul_coffee))
df_seoul_coffee

             상호명          지점명 상권업종대분류명 상권업종중분류명    시도명  시군구명   행정동명
0            커피빈  코리아대학로대명거리점       음식   커피점/카페  서울특별시   종로구    혜화동
1          요거프레소          쌍문점       음식   커피점/카페  서울특별시   도봉구   쌍문2동
2       406번째스토브          NaN       음식   커피점/카페  서울특별시   양천구    목1동
3          로얄커피숍          NaN       음식   커피점/카페  서울특별시   강동구   성내2동
4         빈트리망원점          망원점       음식   커피점/카페  서울특별시   마포구   망원1동
...          ...          ...      ...      ...    ...   ...    ...
22234  로컬스티치북앤커피          NaN       음식   커피점/카페  서울특별시  영등포구  영등포본동
22235       카페시모          NaN       음식   커피점/카페  서울특별시   동작구  노량진2동
22236       만랩커피         오금역점       음식   커피점/카페  서울특별시   송파구   가락본동
22237      레프트커피          NaN       음식   커피점/카페  서울특별시  동대문구    회기동
22238      더쌍화커피          NaN       음식   커피점/카페  서울특별시   노원구   중계4동

[22239 rows x 7 columns]

In [39]:
df_coffee["상호명"].str.contains("스타벅스")

0         False
1         False
2         False
3         False
4         False
          ...
113700    False
113701    False
113702    False
113703    False
113704    False
Name: 상호명, Length: 113705, dtype: bool

In [41]:
df_starbucks = df_coffee[df_coffee["상호명"].str.contains("스타벅스")]
df_starbucks.index = range(len(df_starbucks))
df_starbucks

            상호명      지점명 상권업종대분류명 상권업종중분류명    시도명  시군구명  행정동명
0          스타벅스     부산역점       음식   커피점/카페  부산광역시    동구  초량3동
1          스타벅스   부산연산역점       음식   커피점/카페  부산광역시   연제구  연산4동
2          스타벅스   연산중앙로점       음식   커피점/카페  부산광역시   연제구  연산5동
3          스타벅스    부산하단점       음식   커피점/카페  부산광역시   사하구  하단1동
4     스타벅스서면NC점    서면NC점       음식   커피점/카페  부산광역시  부산진구  전포1동
...         ...      ...      ...      ...    ...   ...   ...
1608       스타벅스    인천구월점       음식   커피점/카페  인천광역시   남동구  구월1동
1609       스타벅스  인천주안DT점       음식   커피점/카페  인천광역시  미추홀구  주안4동
1610       스타벅스  송도캐슬파크점       음식   커피점/카페  인천광역시   연수구  송도1동
1611       스타벅스    인천작전점       음식   커피점/카페  인천광역시   계양구  작전2동
1612       스타벅스      NaN       음식   커피점/카페  인천광역시   남동구  만수5동

[1613 rows x 7 columns]

In [43]:
df_seoul_starbucks = df_starbucks[df_starbucks["시도명"] == "서울특별시"]
df_seoul_starbucks.index = range(len(df_seoul_starbucks))
df_seoul_starbucks

             상호명      지점명 상권업종대분류명 상권업종중분류명    시도명 시군구명  행정동명
0           스타벅스     대학로점       음식   커피점/카페  서울특별시  종로구   이화동
1           스타벅스      한티점       음식   커피점/카페  서울특별시  강남구  대치4동
2           스타벅스   동숭로아트점       음식   커피점/카페  서울특별시  종로구   이화동
3    스타벅스남부터미널2점  남부터미널2점       음식   커피점/카페  서울특별시  서초구  서초3동
4           스타벅스    가로수길점       음식   커피점/카페  서울특별시  강남구   신사동
..           ...      ...      ...      ...    ...  ...   ...
504         스타벅스     논현역점       음식   커피점/카페  서울특별시  서초구   잠원동
505         스타벅스   상명아트홀점       음식   커피점/카페  서울특별시  종로구   이화동
506         스타벅스   서초중앙로점       음식   커피점/카페  서울특별시  서초구  반포4동
507         스타벅스    한솔빌딩점       음식   커피점/카페  서울특별시  강남구  역삼1동
508         스타벅스   지에스타워점       음식   커피점/카페  서울특별시  강남구  역삼1동

[509 rows x 7 columns]